services:

  voxabook_api:
    build:
      context: ./backend/
    ports:
      - "3000:3000"

  voxabook:
    container_name: voxabook
    build:
      context: ./frontend/
      target: production
    ports:
      - "9124:80"

  voxabook_mongodb:
    image: mongo:8.0.10-noble
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin 
    # ports:
    #   - 27017:27017
    volumes: 
      - voxa_data:/data/db

volumes:
  voxa_data:
